node_modules/
dist/
.env
.DS_Store
*.log
coverage/
.tmp/
/tmp
sims-4-power-tools-reboot.PR1.FileComments.Since(20250924T234705Z).json
GitHubPRComments.config.json
/context-reference
sims-4-power-tools-reboot.PR*.*.*.json
